<% provide :title, t("help.title") %>
<!DOCTYPE html>
<html>
  <body>
    <h1><%= t("help.title") %></h1>
    <p>
      <%= t("help.intro1") %>
      <%= link_to t("help.link1"), "https://www.railstutorial.org/help" %>
      <%= t("help.intro2") %>
      <%= link_to t("help.link2"), "https://www.railstutorial.org/book" %>
    </p>
  </body>
</html>
