<h1><%= t("reset_password.title") %></h1>
<p><%= t("reset_password.mail_message1") %></p>
<%= link_to t("reset_password.title"),
  edit_password_reset_url(id: @user.reset_token,
  email: @user.email, locale: locale) %>
<p><%= t("reset_password.mail_message2") %></p>
<p><%= t("reset_password.mail_message3") %></p>
